body {
    background-color: lightgray;
}

header {
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.artikel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 7px solid black;
    padding: auto;
    margin: auto 40rem;
}


.underrubrik {
    display: flex;
    justify-content: center;
}

.picture {
    width: 250px;
    height: auto;
}

.breadtext {
    display: flex;
    justify-content: center;
    padding-inline: 13rem;
    
}